<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LivetCask.Core" version="4.0.2" targetFramework="net461" />
  <package id="LivetCask.EventListeners" version="4.0.2" targetFramework="net461" />
  <package id="LivetCask.Messaging" version="4.0.2" targetFramework="net461" />
  <package id="LivetCask.Mvvm" version="4.0.2" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
</packages>